/*layout*/
header {
  position: fixed;
  z-index: 5000;
  width: 100%;
  height: 70px;
  min-width: 1200px;
  background-color: #2a69ff;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}
section {
  width: 100%;
  min-height: 1200px;
  overflow: hidden;
  min-width: 1200px;
  background-color: #fafafa;
  padding-bottom: 30px;
}

/* Detail Section */
.detailSectionOuterWrap {
  width: 100%;
  height: 820px;
  background-color: #fafafa;
}
.detailSectionWrap {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 120px 0 70px 0;
}

.detailSectionTop {
  width: 100%;
  height: 40px;
  margin-bottom: 50px;
  height: 40px;
  font-size: 20px;
}
.detailCardTitle {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}
.detailCardTitle div {
  float: left;
  font-size: 16px;
  color: #999;
  font-weight: bold;
  text-align: center;
  width: calc(38% - 10px);
}
.detailCardTitle .detailTagTitle {
  width: 24%;
  margin: 0 10px;
}

.detailSectionMain {
  width: 100%;
  height: 500px;
  margin-bottom: 30px;
}
.detailCard {
  float: left;
  background-color: #fff;
  border-radius: 15px;
  width: calc(38% - 10px);
  height: 100%;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  padding: 25px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 20px;
  color: #666;
}
.detailTagCard {
  width: 24%;
  margin: 0 10px;
}

.detailCard {
  float: left;
  background-color: #fff;
  border-radius: 15px;
  width: calc(38% - 10px);
  height: 100%;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  padding: 25px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 20px;
  color: #666;
}

/* 답글 패널 */
.detailReplyCard {
  float: right;
  background-color: #999;
}
.detailReplyInner {
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 420px;
}

/* detail 버튼 = Back, Save */
.detailSectionButton {
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
}
.detailSectionButton .detailButton {
  cursor: pointer;
  float: right;
  width: 150px;
  border-radius: 20px;
  margin-left: 15px;
  text-align: center;
  color: #fff;
  line-height: 40px;
  font-size: 20px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}
.detailSectionButton .buttonBack {
  background-color: #999;
}
.detailSectionButton .buttonSave {
  background-color: #999;
}
.detailSectionButton .buttonSave.on {
  background-color: #2a69ff;
  color: #fff;
}
.detailSectionButton .buttonConfirm {
  background-color: #2a69ff;
  color: #fff;
}
.detailSectionButton .buttonConfirmDisabled {
  cursor: default;
  width: 300px;
}