/* base */
* {
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: #00230e;
  font-family: "Noto Sans KR", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0px;
}
address {
  font-style: normal;
}
fieldset {
  border: none;
}
legend {
  position: absolute;
  left: -999em;
}
input[type="button"],
input[type="submit"],
input[type="ressrt"],
input[type="image"],
button {
  cursor: pointer;
}
label.away {
  position: absolute;
  left: -999em;
}

/*layout*/
header {
  position: fixed;
  z-index: 5000;
  width: 100%;
  height: 70px;
  min-width: 1200px;
  background-color: #2a69ff;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}
section {
  width: 100%;
  min-height: 1200px;
  overflow: hidden;
  min-width: 1200px;
  background-color: #fafafa;
  padding-bottom: 30px;
}

/* 긍부정 판단 패널 */
.proConTitle {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #666;
  padding-bottom: 25px;
  border-bottom: 1px solid #e0e0e0;
}

.proConButtonWrap {
  width: 100%;
  height: 100px;
  padding: 30px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #e0e0e0;
}
.proConButton {
  display: flex;
  width: 160px;
  height: 40px;
  border: 1px solid #2a69ff;
  border-radius: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2px;
}
.proButton,
.conButton {
  cursor: pointer;
  width: 77px;
  height: 100%;
  border-radius: 20px;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}
.proButton {
  background-color: #2a69ff;
  color: #fff;
}
.conButton {
  color: #2a69ff;
}

.detailCard {
  float: left;
  background-color: #fff;
  border-radius: 15px;
  width: calc(38% - 10px);
  height: 100%;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  padding: 25px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 20px;
  color: #666;
}
.detailTagCard {
  width: 24%;
  margin: 0 10px;
}
.detailTagInstruction {
  padding: 30px 0;
  text-align: center;
  line-height: 15px;
  font-size: 10px;
  color: #999;
  border-bottom: 1px solid #e0e0e0;
}
.detailTagConfirmButton {
  padding-top: 30px;
}
.confirmButton {
  cursor: pointer;
  width: 77px;
  height: 36px;
  margin: 0 auto;
  background-color: #2a69ff;
  color: #fff;
  border-radius: 20px;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}

/* 태그패널 */
.detailTagContent {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
}
.detailTagContent li {
  cursor: pointer;
  display: block;
  width: 30%;
  height: 20px;
  float: left;
  background-color: #f6f6f6;
  border-radius: 10px;
  font-size: 11px;
  text-align: center;
  line-height: 20px;
  color: #666;
  margin: 10px 1.665%;
}
.detailTagContent .liClicked {
  background-color: #2a69ff;
  color: #ffffff;
}
.detailTagAdd {
  position: relative;
  width: 100%;
  height: 60px;
}
.detailTagAdd .detailTagAddTitle {
  width: 100%;
  height: 20px;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  color: #999;
  margin-bottom: 10px;
}
.detailTagAddInput {
  width: 100%;
  height: 24px;
  border: 1px solid #999;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 2px 10px;
  padding-right: 50px;
  font-size: 12px;
}
.detailTagAddButton {
  position: absolute;
  top: 33px;
  right: 0;
  width: 50px;
  height: 24px;
  background-color: #999;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  color: #fff;
  font-size: 13px;
  line-height: 24px;
}
